/* For mobiles */
/* @media (max-width:500px) {
    .rectangle{
        width: 60%;
        margin-left: 20%;
        margin-bottom: 3%;
    }
    .free p{
        width: 50%;
        font-size: 44px;
    }
    .free-trial img{
       height: 300px;
       margin-top: 2%;
    }
    nav-bar{
        display: grid;
        text-align: start;
    }
} */